.icon{display: inline-block;zoom:1;}
.icon-1{background-image: url(../slice/p-cao.png);width:303px;height:183px;}
.icon-2{background-image: url(../slice/p1-3.png);width:248px;height:177px;}
.icon-3{background-image: url(../slice/p1-5.png);width:343px;height:135px;}
.icon-4{background-image: url(../slice/p3-3.png);width:155px;height:120px;}
.icon-5{background-image: url(../slice/p3-9.png);width:86px;height:86px;}
.icon-6{background-image: url(../slice/p4-2.png);width:1119px;height:339px;}
.icon-7{background-image: url(../slice/p-cao1.png);width:210px;height:127px;}
.icon-8{background-image: url(../slice/p-cao2.png);width:117px;height:147px;}
.icon-9{background-image: url(../slice/p-cao3.png);width:91px;height:61px;}
.icon-10{background-image: url(../slice/p-cao4.png);width:141px;height:93px;}