.icon{display: inline-block;zoom:1;}
.icon-1{background-image: url(./sprite/sprite.png);background-position: -0px -339px;width:303px;height:183px;}
.icon-2{background-image: url(./sprite/sprite.png);background-position: -646px -339px;width:248px;height:177px;}
.icon-3{background-image: url(./sprite/sprite.png);background-position: -303px -339px;width:343px;height:135px;}
.icon-4{background-image: url(./sprite/sprite.png);background-position: -210px -522px;width:155px;height:120px;}
.icon-5{background-image: url(./sprite/sprite.png);background-position: -0px -649px;width:86px;height:86px;}
.icon-6{background-image: url(./sprite/sprite.png);background-position: -0px -0px;width:1119px;height:339px;}
.icon-7{background-image: url(./sprite/sprite.png);background-position: -0px -522px;width:210px;height:127px;}
.icon-8{background-image: url(./sprite/sprite.png);background-position: -365px -522px;width:117px;height:147px;}
.icon-9{background-image: url(./sprite/sprite.png);background-position: -482px -522px;width:91px;height:61px;}
.icon-10{background-image: url(./sprite/sprite.png);background-position: -894px -339px;width:141px;height:93px;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 240dpi){
.icon-2{background-image:url(./sprite/sprite@2x.png);background-position: -0px -0px;background-size:334px;}
.icon-5{background-image:url(./sprite/sprite@2x.png);background-position: -248px -0px;background-size:334px;}
.icon-7{background-image:url(./sprite/sprite@2x.png);background-position: -0px -117px;background-size:334px;}
}
